[submodule "buildSrc"]
	path = buildSrc
	url = https://github.com/ReleaseStandard/CodeEditor-buildSrc
[submodule "CodeEditor-editor"]
	path = CodeEditor-editor
	url = https://github.com/ReleaseStandard//CodeEditor-editor
