[submodule "language-cobol85"]
	path = language-cobol85
	url = https://github.com/ReleaseStandard/CodeEditor-language-cobol85
[submodule "language-html"]
	path = language-html
	url = https://github.com/ReleaseStandard/CodeEditor-language-html
[submodule "language-mksh"]
	path = language-mksh
	url = https://github.com/ReleaseStandard/CodeEditor-language-mksh
[submodule "language-universal"]
	path = language-universal
	url = https://github.com/ReleaseStandard/CodeEditor-language-universal
[submodule "emptyPlugin"]
	path = emptyPlugin
	url = https://github.com/ReleaseStandard/CodeEditor-emptyPlugin
[submodule "language-golang"]
	path = language-golang
	url = https://github.com/ReleaseStandard/CodeEditor-language-golang
[submodule "language-java"]
	path = language-java
	url = https://github.com/ReleaseStandard/CodeEditor-language-java
[submodule "language-python"]
	path = language-python
	url = https://github.com/ReleaseStandard/CodeEditor-language-python
[submodule "application"]
	path = application
	url = https://github.com/ReleaseStandard/CodeEditor-application
[submodule "CodeEditor.wiki"]
	path = CodeEditor.wiki
	url = https://github.com/ReleaseStandard/CodeEditor.wiki.git
[submodule "logger-debug"]
	path = logger-debug
	url = https://github.com/ReleaseStandard/CodeEditor-logger-debug
[submodule "widget-symbolinput"]
	path = widget-symbolinput
	url = https://github.com/ReleaseStandard/CodeEditor-widget-symbolinput
[submodule "widget-linenumber"]
        path = widget-linenumber
        url = https://github.com/ReleaseStandard/CodeEditor-widget-linenumber
[submodule "buildSrc"]
	path = buildSrc
	url = https://github.com/ReleaseStandard/CodeEditor-buildSrc
[submodule "editor"]
        path = editor
        url = https://github.com/ReleaseStandard/CodeEditor-editor
